mixin handbook
  table.table&attributes(attributes)
    tbody
      tr
        th Фамилия, имя, отчество
        th Должность
        th Телефон
        th Электронный адрес
      tr
        td(colspan="4")
          b Руководство
      tr
        td Гребешок Константин Сергеевич
        td Директор
        td(rowspan="2")
          +phone('33-36-33', '(приемная)')
          +phone('33-46-14', '(факс приемная)')
        td -
      tr
        td Алексеенко Эдуард Борисович
        td Первый заместитель директора
        td -
      tr
        td Жукова Марина Валентиновна
        td Зам. директора по финансам - главный бухгалтер
        td
          +phone('32-05-20')
        td -
      tr
        td(colspan="4")
          b Отдел бухгалтерского учета и налогооблажения
      tr
        td Ерина Наталья Анатольевна
        td Начальник отдела - Зам. гл. бухгалтера
        td
          +phone('33-19-41')
        td -
      tr
        td(colspan="4")
          b Договорной отдел
      tr
        td Гайдамака Юлия Николаевна
        td Начальник отдела
        td
          +phone('33-15-52')
        td -
      tr
        td Полонская Татьяна Анатольевна
        td Зам. начальника отдела
        td(rowspan="2")
          +phone('33-20-74')
        td -
      tr
        td Останина Ольга Геннадьевна
        td Зам. начальника отдела
        td -
      tr
        td(colspan="4")
          b Планово-экономический отдел
      tr
        td Стрюкова Лариса Анатольевна
        td Начальник отдела
        td(rowspan="3")
          +phone('33-03-10')
        td -
      tr
        td Меньшикова Наталья Владимировна
        td Зам. начальника отдела
        td -
      tr
        td Пономарчук Елена Владимировна
        td Зам. начальника отдела
        td -
