@import (inline) "normalize.css/normalize.css";

@desktop-mini: ~"(max-width: 1400px)";
@plan: ~"(max-width: 1024px)";
@plan-mini: ~"(max-width: 768px)";
@mobile: ~"(max-width: 480px)";

html {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #333;

  @media @mobile {
    font-size: 14px;
  }
}

body {
  background-color: #fff;
  line-height: 1.25rem;
}

html, body, .page {
  width: 100%;
}

.index-menu {
  margin: 2rem 4rem;
  font-size: 1.25rem;
  background-color: #176399;
  color: #fff;
  padding: 2rem 4rem;
  border-radius: .5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);

  & a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  & li {
    margin-bottom: 10px;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  overflow-x: hidden;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;

  @media @desktop-mini {
    width: 100%;
  }
}

.header {
  margin-bottom: 1.25rem;
  padding-top: 10px;

  &-top {
    position: relative;

    @media @desktop-mini {
      padding: 0 1rem;
    }

    @media @plan-mini {
      padding: 0;
    }
  }

  &-top, &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    align-items: center;

    @media @plan {
      width: 100%;
      justify-content: center;
      margin-left: 75px;
      padding-bottom: 1.25rem;
      padding-top: 1.25rem;
    }

    @media @plan-mini {
      justify-content: flex-start;
      margin-left: ~"calc(50% - 110px)";
    }

    @media @mobile {
      margin-left: ~"calc(50% - 90px)";
    }
  }

  &-right {

    @media @plan {
      display: none;
    }
  }

  &-logo {
    width: 69px;
    height: 79px;
    background: url('../images/logo.png') no-repeat center;
  }

  &-title {
    font-size: .875rem;
    margin-left: .875rem;

    & > span {
      display: block;
      font-family: 'Cuprum', 'PT Sans', sans-serif;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;

      @media @plan-mini {
        max-width: 164px;
      }

      @media @mobile {
        font-size: 1.25rem;
      }
    }

    & > i {
      font-style: normal;

      &.mobile-title {
        display: none;
        font-size: 16px;

        @media @plan-mini {
          display: block;
        }
      }

      @media @plan-mini {
        display: none;
      }
    }
  }

  &-bottom {
    background-color: #176399;
    padding: 0 1.25rem;
    margin-top: 10px;

    @media @plan {
      display: none;
      text-align: center;
      padding: 1.25rem;
      margin-top: 0;
    }
  }

  @media @plan {
    margin-bottom: 0;
    border-bottom: 1px solid #176399;
    padding-top: 0;
  }
}

.slow {
  position: relative;
  padding-right: 32px;
  min-height: 22px;
  color: #999;
  transition: color .3s;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #333;
    opacity: 0;
    transition: opacity .3s;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 100%;
    background: data-uri('../images/svg/eye.svg') no-repeat right center;
    background-size: 22px;
    transition: background-image .3s;
  }

  &:hover {
    color: #333;

    &:before {
      opacity: 1;
    }

    &:after {
      background-image: data-uri('../images/svg/eye-active.svg');
    }
  }
}

.menu {

  &__item {
    display: inline-block;
    vertical-align: top;
    font-family: 'Cuprum', 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 19px 20px 17px 20px;
    color: #fff;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 7px;
      width: 100%;
      height: 2px;
      border-radius: 6px;
      background-color: #fff;
      opacity: 0;
      transition: opacity .3s;

      @media @plan {
        display: none;
      }
    }

    &:hover {

      &:after {
        opacity: 1;
      }
    }

    &:focus, &:active {
      text-decoration: underline;
    }

    @media @plan {
      display: block;
      font-size: 1.5rem;
    }
  }
}

.search {
  width: 18.75rem;
  height: 2.25rem;
  position: relative;

  &__input {
    background: #114a73;
    width: 100%;
    height: 100%;
    padding: 0 60px 0 16px;
    outline: none;
    border-radius: 6px;
    border: 2px solid #114a73;
    transition: background-color .3s;

    &:focus, &:active {
      background-color: #fff;

      & + .search__button {
        background-image: data-uri('../images/svg/search-active.svg');
      }
    }

    @media @plan {
      padding-right: 80px;
    }
  }

  &__button {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background: data-uri('../images/svg/search.svg') no-repeat center;
    background-size: 20px;
    border: none;
    outline: none;
    transition: background-image .3s;

    &:hover {
      cursor: pointer;
    }

    @media @plan {
      width: 80px;
      background-size: 30px;
    }
  }

  @media @plan {
    margin: 1rem auto 0;
    width: ~"calc(100% - 10rem)";
    height: 3rem;
    font-size: 1.25rem;
  }

  @media @mobile {
    width: 100%;
  }
}

.slider {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;

  &-left {
    width: 37.5rem;
    height: 100%;
    background-color: #00994a;
    color: #00994a;
    padding: 3rem 3rem 3.75rem 5.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media @desktop-mini {
      width: 50%;
      padding: 2rem;
      justify-content: center;
    }

    @media @plan {
      padding: 1rem;
      justify-content: space-around;
    }

    @media @plan-mini {
      width: 100%;
      align-items: center;
    }
  }

  &-right {
    width: ~"calc(100% - 37.5rem)";
    height: 100%;

    & .swiper-slide {
      background: no-repeat center;
      background-size: cover;
    }

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: #176399;
      opacity: .8;
      margin: 10px 0 !important;

      &.swiper-pagination-bullet-active {
        background-color: #fff;
        opacity: 1;
      }
    }

    @media @desktop-mini {
      width: 50%;
    }

    @media @plan-mini {
      width: 100%;
      height: 30rem;
    }

    @media @mobile {
      height: 15rem;
    }
  }

  &-mini {
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 1rem;

    & .swiper-slide {
      width: 20rem;
      height: 11.25rem;
      background: no-repeat center;
      background-size: cover;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 15%;
        bottom: 0;
        width: 70%;
        height: 30px;
        box-shadow: 0 0 56px rgba(0, 0, 0, 0.3);
        z-index: -1;
      }
    }

    @media @mobile {
      margin-bottom: 2rem;
    }
  }

  @media @plan-mini {
    flex-direction: column-reverse;
    height: auto;
  }
}

.history {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  &-title {
    font-family: 'Cuprum', 'PT Sans', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2rem;

    @media @plan-mini {
      font-size: 2.5rem;
    }

    @media @mobile {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__item {
    display: flex;
    width: 50%;
    margin-bottom: 2rem;
    color: #fff;

    &-number {
      font-family: 'Cuprum', 'PT Sans', sans-serif;
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: bold;

      @media @mobile {
        font-size: 2rem;
        line-height: 2rem;
      }
    }

    &-desc {
      margin-left: 1rem;

      @media @plan-mini {
        margin-left: 0;
      }
    }

    &:nth-child(2n) {

      @media @plan {
        justify-content: center;
      }
    }

    @media @plan-mini {
      display: block;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  @media @plan {
    justify-content: space-between;
  }

  @media @plan-mini {
    justify-content: center;
  }
}

.button {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  outline: none;
  font-weight: bold;
  padding: 9px 18px 8px;
  transition: background-color .3s, color .3s;
  color: inherit;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
  }
}

.h1, .h2, .h3, .h4 {
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  margin: 0 0 2rem;
  text-transform: uppercase;
}

.h1 {
  font-size: 2.5rem;
  line-height: 3rem;

  @media @desktop-mini {
    padding-left: 1rem;
  }
}

.h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.75rem;
}

.h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.main {
  margin-bottom: 2.5rem;

  &-map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    &-left {
      width: 30rem;

      @media @desktop-mini {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-right {
      width: ~"calc(100% - 30rem)";
      display: flex;
      justify-content: flex-end;

      @media @desktop-mini {
        width: 100%;
        justify-content: center;
      }
    }

    @media @desktop-mini {
      flex-direction: column;
    }

    @media @plan {
      margin-bottom: 1rem;
    }

    @media @mobile {
      margin-bottom: 3rem;
    }
  }

  &-info {
    background-color: #176399;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #176399;
    padding: 2.5rem 2.25rem;
    min-height: 24.375rem;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 10%;
      bottom: 0;
      width: 80%;
      height: 30px;
      box-shadow: 12px 9px 56px rgba(0, 0, 0, 0.3);
      z-index: -1;
    }

    &__title {
      font-size: 1.25rem;
      font-weight: bold;
      color: #fff;
      margin-bottom: 1.75rem;
    }

    &-block {
      margin-bottom: 1.25rem;
      color: #fff;

      & > p {
        margin: 0;
      }
    }

    & > .button {
      margin-top: auto;
    }

    @media @plan-mini {
      max-width: 100%;
    }

    @media @mobile {
      padding: 2rem;
      text-align: center;
      align-items: center;
    }
  }
}

.map {
  display: flex;
  justify-content: space-between;

  &-left {
    width: ~"calc(100% - 37.5rem)";
    height: 17.5rem;
    background: no-repeat center;
    background-size: cover;

    & > img {
      max-width: 100%;
    }

    @media @desktop-mini {
      width: 100%;
      text-align: center;
    }
  }

  &-right {
    width: 37.5rem;
    background-color: #176399;
    padding: 3rem 2.5rem;
    color: #fff;

    & > p {
      margin: 0 0 1.75rem;
      font-size: .875rem;

      @media @mobile {
        font-size: 16px;
      }
    }

    @media @desktop-mini {
      width: 100%;
    }

    @media @mobile {
      padding: 2rem;
      text-align: center;
    }
  }

  @media @desktop-mini {
    flex-direction: column;
  }
}

.phones {

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 9.375rem;
    font-size: .875rem;

    & > span {
      display: block;
      margin-top: 5px;

      & > b {
        font-size: 1rem;
      }
    }

    &:last-child {

      @media @mobile {
        margin-bottom: 0;
      }
    }

    @media @mobile {
      font-size: 16px;
      margin-bottom: 1rem;
    }
  }
}

.link {
  position: relative;
  padding-bottom: 2px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0;
    transition: opacity .3s;
  }

  &:hover {

    &:after {
      opacity: 1;
    }
  }
}

.footer {
  font-size: .875rem;
  color: #959da6;
  text-align: center;
  margin-bottom: 2.5rem;
}

.mapping {
  position: relative;
  overflow-x: auto;

  &-district {
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    font-style: italic;
    color: #8c8c8c;
    transition: color .2s;
    pointer-events: none;

    &.hover {
      color: #fff;
    }
  }

  &-city {
    position: absolute;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    transition: opacity .2s;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background-color: #333;
      opacity: 0;
      transition: opacity .2s;
    }

    &:hover {
      color: #00994a;

      &:after {
        opacity: 1;
      }

      & > .dot {
        background-color: #00994a;
        border-color: #333;
      }
    }

    @media @plan {
      font-size: 15px;
    }
  }
}

.dot {
  position: absolute;
  border: 2px solid #666;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.mobile {

  &__button {
    display: none;
    width: 40px;
    height: 28px;
    background: transparent;
    border: none;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    outline: none;
    cursor: pointer;
    z-index: 101;
    position: absolute;
    left: 32px;
    top: ~"calc(50% - 14px)";

    & span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: #176399;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      @media @mobile {
        height: 3px;
      }
    }

    & span:nth-child(1) {
      top: 0;
    }

    & span:nth-child(2),
    & span:nth-child(3) {
      top: 12px;

      @media @mobile {
        top: 8px;
      }
    }

    & span:nth-child(4) {
      top: 24px;

      @media @mobile {
        top: 16px;
      }
    }

    &.active {

      & span {

        &:nth-child(1) {
          top: 12px;
          width: 0;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 12px;
          width: 0;
          left: 50%;
        }
      }
    }

    @media @plan {
      display: inline-block;
    }

    @media @mobile {
      width: 34px;
      height: 20px;
      left: 1rem;
      top: ~"calc(50% - 10px)";
    }
  }
}
