header.header
  .header-top
    button(type="button", data-target=".header-bottom").mobile__button.js-mobile
      span
      span
      span
      span
    a(href="#").header-left
      .header-logo
      .header-title
        span Управление капитального строительства
        i Ханты-Мансийского автономного округа – Югры
        i.mobile-title ХМАО-Югры
    .header-right
      a(href="#").slow Версия для слабовидящих
  .header-bottom
    nav.menu
      a(href="#").menu__item Об учреждении
      a(href="#").menu__item Документы
      a(href="#").menu__item Деятельность
      a(href="#").menu__item Контакты
    .search
      input(type="text", title="Поиск").search__input
      button(type="submit").search__button
