extends layout

block content

  .detail
    h1.h1 Контакты

    .center
      h3.h3 Телефонный справочник
    .right на 17.01.2017 г.
    +handbook(class="with-border")

    br
    br

    .center
      h3.h3 Или для гурманов :)
    .right на 17.01.2017 г.
    +handbook

    br
    br

    a(href="#") Ссылка


