-
  var css = [
    'fonts/bundle.css',
    'js/vendor/swiper/swiper.min.css',
    'css/main.css'
  ]

  var js = [
    'js/vendor/jquery/jquery-3.2.1.min.js',
    'js/vendor/swiper/swiper.min.js',
    'js/vendor/maphilight/jquery.maphilight.min.js',
    'js/app/main.js'
  ]

doctype html
html(lang="ru")
  head
    title Управление капитального строительства
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    each path in css
      link(rel='stylesheet', href= path)

  body
    include mixins/map

    block content

    each path in js
      script(src= path)
